.vscode
.vscode-test
src
.github
test-workspace
assets/screenshots

out
!out/extension.js
meta.json
stats.html

**/tsconfig.*
**/.eslintrc.json
**/.prettierrc.js
**/*.map
**/*.ts

.gitignore
pnpm-lock.yaml
